@page "/login"

<PageTitle>Login - Vizar</PageTitle>

<h1>Login To Vizar</h1>

<SfTextBox Placeholder="Please Enter Your Phone Number or Email"
		   FloatLabelType="FloatLabelType.Auto"
		   Value="@_phoneEmail"
		   @ref="_phoneEmailTextBox"
		   Input="OnPhoneEmailInput" />

<SfTextBox Placeholder="@_passwordPlaceholder"
		   FloatLabelType="FloatLabelType.Auto"
		   Value="@_password"
		   @ref="_passwordTextBox"
		   Input="OnPasswordInput"
		   Type="InputType.Password" />

<p @onclick="OnForgotPasswordClick">Forgot Password? Login with Code</p>

<SfButton Content="Login" OnClick="OnLoginClick" Disabled="!_isVerifying" />

<p>&copy; @DateTime.Now.Year A Product By <a href="https://aadisoft.vercel.app" target="_blank">AadiSoft</a>. All rights reserved.</p>

<SfToast @ref="_sfErrorToast"
		 ID="_sfErrorToast"
		 Title="@_errorTitle"
		 Content="@_errorMessage"
		 Timeout="5000">
	<ToastPosition X="Right" Y="Top" />
	<ToastShowAnimationSettings Effect="ToastEffect.SlideLeftIn" />
	<ToastHideAnimationSettings Effect="ToastEffect.SlideRightOut" />
</SfToast>